.project
.settings
.gitignore
.classpath
.settings
*.swp
target
dependency-reduced-pom.xml
rpmbuild/RPMS
rpmbuild/SRPMS
rpmbuild/BUILDROOT
/bin
feeder-sns-parent/feeder-sns-twitter/src/main/resources/twitter4j.properties
